.x-mask.splashscreen {
	background-color: white;
	opacity: 1;
}

.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
	font-size: 16px;
	font-weight: bold;
	padding: 30px 5px 5px 5px;
	border: none;
	background-color: transparent;
	background-position: top center;
}

.x-message-box .x-window-body .x-box-inner {
	min-height: 110px !important;
}

.x-splash-icon {
	background-image: url('../images/logo.png') !important;
	margin-top: -30px;
	margin-bottom: 15px;
	height: 100px;
}
.capslock{ 
	background:url('../icons/warn.png') no-repeat center left; 
	padding: 2px; 
	padding-left: 20px; 
	font-weight: 700; 
	}

#titleHeader { 
	color:# 000; 
	font-size: 20px; 
	font-weight:bold; 
	font-family:' Lucida Grande', Arial, Sans; 
	}

.pt_BR { 
	background-image:url('../flags/br.png') !important; 
	} 
.en { 
	background-image:url('../flags/us.png') !important; 
	} 
.es { background-image:url('../flags/es.png') !important; 
	}

